@import '../abstracts/variables';

.mod-warning {
    font-family: $font-arial;
    padding: 15px;
    border-radius: 3px;
    background: $blanco;
    border: 1px solid $negro;
    &.--info {
        background: $light-info;
        border: 1px solid $info;
        color: $info;
    }
    &.--success {
        background: $light-success;
        border: 1px solid $success;
        color: $success;
    }
    &.--warning {
        background: $light-warning;
        border: 1px solid $warning;
        color: $warning;
    }
    &.--danger {
        background: $light-danger;
        border: 1px solid $danger;
        color: $danger;
    }
    .title {
        font-size: 18px;
        line-height: 24px;
        font-weight: bold;
        margin-bottom: 5px;
    }
    .text {
        font-size: 16px;
        line-height: 24px;
    }
}
