@import '../abstracts/variables';
@import '../abstracts/mixins';

.mod-paragraph {
    @include flex(flex, row, center, center);
    padding: $spacing-sm;
    border: 1px solid $gris3;
    position: relative;
    margin-bottom: $spacing-lg;
    &:before {
        content: '';
        width: px(80);
        height: px(1);
        background: $negro;
        position: absolute;
        display: block;
        top: -1px;
    }
}
