@import '../abstracts/variables';
@import '../abstracts/mixins';
.mod-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    &.--bg-banner {
        background: repeating-linear-gradient(
            45deg,
            #fff,
            #fff,
            #fff,
            #fff 4px,
            #dbdbdb 6px
        );
        width: 100%;
    }
    &.--sticky {
        position: sticky;
        &.--bg-banner {
            background: rgba(204, 204, 204, 1);
            width: 100%;
        }
        .--scrollDown & {
            top: 0;
        }
        .sidebar__aside & {
            .--scrollDown & {
                top: $px-10;
            }
        }
        .--scrollUp & {
            top: $px-80;
        }
    }
    &.--fixed {
        position: fixed;
        bottom: px(60);
        z-index: 100;
        .--scrollDown & {
            bottom: px(0);
        }
        &.--bg-banner {
            background: rgba(204, 204, 204, 1);
            width: 100%;
        }
    }
    &.--close {
        .icon-close {
            width: px(20);
            height: px(20);
            background: $negro;
            position: absolute;
            top: 0;
            right: px(1);
            color: $blanco;
            font-size: px(16);
        }
    }
}
@media ($media-l) {
    .mod-banner {
        width: calc(100% - 380px);
        .sidebar__aside & {
            width: 100%;
        }
        &.--fixed {
            bottom: px(0);
        }
    }
}
@media ($media-lm) {
    .mod-banner {
        width: calc(100% - 362px);
        .sidebar__aside & {
            width: 100%;
        }
    }
}
