@import '../abstracts/variables';
@import '../abstracts/mixins';

.com-paragraph {
    font-family: Georgia;
    font-size: px(18);
    line-height: px(26);
    font-weight: normal;
    margin-bottom: $spacing-lg;
    .mod-paragraph & {
        @include flex(flex);
        text-align: center;
        font-family: $font-SuecaSlab;
        color: $gris6;
        font-size: px(20);
        line-height: px(28);
        font-weight: bold;
        margin-bottom: 0;
    }
}
