@import '../abstracts/variables';
@import '../abstracts/mixins';
.com-line {
    display: flex;
    background: $gris3;
    &.--width {
        width: 100%;
        height: px(1);
        .footer & {
            margin-bottom: px(24);
            order: 2;
            display: none;
        }
    }
    &.--height {
        height: 100%;
        width: px(1);
        margin: 0 0.5625rem;
        background: $gris5;
    }
    &:first-letter {
        text-transform: uppercase;
    }
}
@media ($media-l) {
    .com-line {
        &.--width {
            .footer & {
                margin-bottom: px(16);
                display: block;
            }
        }
    }
}
