@import '../abstracts/variables';

.wrap-dropdown {
    z-index: 1400;
    transition: all 0.2s ease-in-out;
    width: 100vw;
    height: 100vh;
    top: 0;
    position: fixed;
    overflow-y: scroll;
    visibility: hidden;

    @media (min-width: 769px) {
        overflow: hidden;
    }

    .overlay {
        background: rgba(0, 0, 0, 0.3);
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
    }

    .com-dropdown {
        transition: all 0.2s ease-in-out;
        background: $gris1;
        width: 100vw;
        height: 100vh;
        position: absolute;
        padding-bottom: 180px;
        left: -400px;

        @media (max-width: 768px) {
            overflow-y: scroll;
        }

        @media (min-width: 769px) {
            width: 280px;
            max-height: 100vh;
            background: $blanco;
        }

        .header__dropdown {
            background: $blanco;
            margin-bottom: $px-10;
            border: 1px solid $gris2;
            max-height: 130px;

            @media (min-width: 769px) {
                margin-bottom: 0;
            }

            .logo__dropdown {
                padding: $px-7 $px-19 $px-10;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                @media (min-width: 769px) {
                    padding: $px-15 $px-20;
                }
                //aca logo lanacion
            }

            .close__dropdown {
                padding: $px-10 $px-20;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                cursor: pointer;

                i {
                    font-size: $font-25;
                    color: $gris6;
                }

                &:hover {
                    i {
                        color: $ln;
                    }
                }

                @media (min-width: 769px) {
                    padding: $px-15 $px-20;
                }
            }

            .search__dropdown {
                border-top: 1px solid $gris2;
                padding: $px-15 $px-20;

                @media (min-width: 769px) {
                    display: none;
                }

                .content-input {
                    position: relative;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;

                    i {
                        position: absolute;
                        right: $px-10;
                    }

                    .input-buscador {
                        border: 1px solid $gris2;
                        width: 100%;
                        display: flex;
                        padding: $px-10;
                        border-radius: $px-3;
                    }
                }
            }
        }

        .menu__dropdown {
            background: $gris1;
            width: 100%;

            .nav__dropdown {
                .list__nav {
                    margin-bottom: $px-10;
                    border: 1px solid $gris2;
                    background: $blanco;

                    @media (min-width: 769px) {
                        margin-bottom: 0;
                        border: 0;
                    }

                    .item__nav {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        flex-wrap: wrap;
                        font-weight: 700;
                        font-size: $font-16;
                        position: relative;
                        z-index: 11;

                        .link__item {
                            border-bottom: 1px solid $gris2;
                            width: calc(100% - 50px);
                            display: flex;
                            align-items: center;
                            flex-grow: 1;
                            color: $negro;
                            padding-left: $px-20;
                            padding-top: $px-17;
                            padding-bottom: $px-17;

                            @media (min-width: 769px) {
                                border-bottom: 0;
                                padding-top: $px-13;
                                padding-bottom: $px-13;
                            }
                        }

                        .button__item {
                            background: transparent;
                            border-left: 1px solid $gris2;
                            border-bottom: 1px solid $gris2;
                            height: 50px;
                            z-index: 10;

                            @media (min-width: 769px) {
                                height: $px-40;
                                border: 0;
                                position: relative;
                            }

                            width: $px-50;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-grow: 1;

                            i {
                                font-size: $font-22;
                                color: $gris6;

                                @media (min-width: 769px) {
                                    transform: rotate(-90deg);
                                }
                            }
                        }

                        .sublist__nav {
                            width: 100%;
                            display: none;

                            .item__nav {
                                .link__item {
                                    padding: $px-16;

                                    @media (min-width: 769px) {
                                        border: 0;
                                    }
                                }
                            }
                        }

                        &.item--active {
                            background: $gris1;

                            .button__item {
                                i {
                                    transform: rotate(-90deg);
                                }
                            }

                            .link__item {
                                color: $ln;
                                text-decoration: underline;
                            }

                            .sublist__nav {
                                display: block;
                                .item__nav {
                                    .link__item {
                                        color: $gris6;
                                        text-decoration: none;
                                        padding-left: $px-40;
                                        background: $blanco;
                                    }
                                }
                            }
                        }

                        @media (min-width: 769px) {
                            font-size: $font-14;

                            &:hover {
                                background: $gris1;

                                > .link__item {
                                    color: $ln !important;
                                    text-decoration: underline;
                                }

                                .button__item {
                                    i {
                                        color: $ln;
                                    }
                                }

                                .sublist__nav {
                                    display: block;
                                    position: absolute;
                                    left: 98%;
                                    top: -$px-20;
                                    width: 180px;
                                    background: $blanco;
                                    border-radius: $px-3;
                                    padding: $px-20 0;
                                    -webkit-box-shadow: -1px 2px 5px 0px
                                        rgba(189, 189, 189, 1);
                                    -moz-box-shadow: -1px 2px 5px 0px
                                        rgba(189, 189, 189, 1);
                                    box-shadow: -1px 2px 5px 0px
                                        rgba(189, 189, 189, 1);

                                    .item__nav {
                                        margin: 0 $px-10;

                                        .link__item {
                                            color: $negro;
                                            text-decoration: none;
                                            padding: $px-13;
                                        }

                                        &:hover {
                                            background: $gris1;

                                            .link__item {
                                                color: $ln;
                                                text-decoration: underline;
                                                background: $gris1;
                                            }
                                        }
                                    }
                                }

                                .button__item:after {
                                    content: '';
                                    display: block;
                                    width: $px-15;
                                    height: $px-15;
                                    right: -$px-2;
                                    top: $px-13;
                                    transform: rotate(136deg);
                                    position: absolute;
                                    background: $blanco;
                                    box-shadow: 2px 2px 2px 1px
                                        rgba(189, 189, 189, 0.4);
                                }
                            }
                        }
                    }

                    &.secondary--nav {
                        @media (min-width: 769px) {
                            border-top: 1px solid $gris2;
                        }

                        .item__nav {
                            .link__item {
                                color: $gris5;
                            }

                            &:hover {
                                span.link__item,
                                span.link__item:hover {
                                    color: $gris5 !important;
                                    cursor: default;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.dropdown {
    overflow: hidden;

    @media ($media-m) {
        margin-right: $scroll-width;
    }

    .wrap-dropdown {
        visibility: visible;

        .overlay {
            @media (max-width: 768px) {
                overflow-y: scroll;
            }
        }

        .com-dropdown {
            left: 0;

            &.scroll--active {
                .header__dropdown {
                    position: fixed;
                    height: 0;
                    overflow: hidden;
                }

                .menu__dropdown {
                    position: absolute;
                    top: 70px;
                }
            }

            &.scroll--pasive {
                .header__dropdown {
                    position: fixed;
                    height: inherit;
                    overflow: inherit;
                }

                .menu__dropdown {
                    position: absolute;
                    top: 140px;
                }
            }
        }
    }
}

@media all and (max-height: 800px) {
    .secondary--nav .item__nav {
        position: inherit;
    }

    .secondary--nav .sublist__nav {
        bottom: -20px !important;
        top: auto !important;
    }
}
