@import '../abstracts/variables';
.com-hour {
    font-family: $font-SuecaSlab;
    font-size: $font-22;
    line-height: $font-22;
    font-weight: 700;
    position: relative;
    &:before {
        content: '';
        width: $px-16;
        height: $px-16;
        border-radius: $px-15;
        border: 1px solid $gris4;
        background: $blanco;
        left: -$px-30;
        top: 0;
        z-index: 2;
        position: absolute;
    }
    &.com-hour:after {
        content: '';
        width: $px-6;
        height: $px-6;
        border-radius: $px-5;
        background: $gris4;
        top: $px-6;
        left: -$px-24;
        z-index: 2;
        position: absolute;
    }
}
