@import '../abstracts/variables';

.com-input {
    color: $gris5;
    font-family: $font-arial;
    font-size: $font-14;
    padding: $px-10 $px-5;
    border: 1px solid $gris3;
    border-radius: 3px;
}

input[type='text']:focus {
    transition: ease-in-out, all 0.35s ease-in-out;

    &::placeholder {
        opacity: 0.5;
    }
}
