@import '../abstracts/variables';
//=====================
// SEARCH
//=====================
.com-search {
    position: relative;
    &__input {
        padding: $px-10;
        border: 1px solid $gris3;
        border-radius: 3px;
        position: relative;
        z-index: 100;
        background: transparent;
        width: 191px;
    }
    &__submit {
        margin-left: $px-10;
        display: none;
    }
    .icon-search {
        position: ABSOLUTE;
        left: 160px;
        z-index: 150;
        font-size: $font-26;
        top: $px-6;
    }
}
