@import '../abstracts/variables';

.com-slider {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
}

.com-slider .cont-figure {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-item-align: start;
    align-self: flex-start;
    width: 100%;
    background-color: initial;
    min-height: 300px;
    //max-height: 300px;
    @media (min-width: 768px) {
        max-height: 600px;
    }
}
section > .cont-figure > .figure {
    pointer-events: none;
    min-height: 300px;
    @media (min-width: 768px) {
        min-height: 500px;
    }
}

section > .cont-figure > .figure:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    right: 0;
    background-color: rgba(45, 45, 45, 0.6);
    background-image: url(/pf/resources/dist/images/32b5d57d16b6854dec721a5325614df0.png?d=16);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 3em;
    transition: 0.2s ease opacity;
}

section > .cont-figure > .figure:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(/pf/resources/dist/images/44ded6da71e1b5c45ef04e5434741dbd.png?d=16);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transition: 0.2s ease opacity;
}

.com-slider .cont-figure .figure .content-pic > * {
    max-width: 100%;
    object-fit: contain;
    min-height: 100%;
}

.previous {
    font-size: 0;
    line-height: 0;
    top: calc(150px - 28px);
    @media (min-width: 768px) {
        top: calc(250px - 28px);
    }
    left: 0;
    display: block;
    padding: 0;
    cursor: pointer;
    border: none;
    background: rgba(0, 0, 0, 0.9);
    width: $px-46;
    height: $px-57;
    position: absolute;
    z-index: 2;
    color: $blanco;
    transition: background 0.2s ease;
}

.previous:after {
    font-family: SuecaSlab, Helvetica, sans-serif;
    font-size: 1.8rem;
    color: $blanco;
    opacity: 1;
    z-index: 25;
    content: '<';
    vertical-align: middle;
}

.previous:hover {
    background: rgba(0, 0, 0, 0.4);
}

.next {
    font-size: 0;
    line-height: 0;
    top: calc(150px - 28px);
    @media (min-width: 768px) {
        top: calc(250px - 28px);
    }
    right: 0;
    display: block;
    padding: 0;
    cursor: pointer;
    border: none;
    background: rgba(0, 0, 0, 0.9);
    width: $px-46;
    height: $px-57;
    position: absolute;
    z-index: 2;
    color: $blanco;
    transition: background 0.2s ease;
}

.next:hover {
    background: rgba(0, 0, 0, 0.4);
}

.next:after {
    font-family: SuecaSlab, Helvetica, sans-serif;
    font-size: 1.8rem;
    color: $blanco;
    opacity: 1;
    z-index: 25;
    content: '>';
    vertical-align: middle;
}

.paginator {
    background: $negro;
    font-family: $font-arial;
    font-size: $font-12;
    padding: $px-3 $px-5;
    color: $blanco;
    bottom: $px-40;
    position: absolute;
    right: 0;
}
