@import '../abstracts/variables';
.text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: $font-18;
    line-height: $px-30;
    margin-bottom: $px-24;
    width: 100%;
    &.element-paragraph:last-of-type {
        margin-bottom: $px-32;
    }
    b {
        font-weight: 700;
    }
    &.small {
        font-size: $font-14;
        color: $gris5;
    }
    .blockquote & {
        margin-bottom: 0;
    }
    .com-cita & {
        font-size: $font-24;
    }
}

.com-slider {
    .text:first-of-type {
        margin-top: 0;
    }
}

//Valores de tablet para arriba
@media (min-width: 768px) {
    .text.capital {
        &:first-letter {
            font-family: $font-SuecaSlab;
            font-size: $font-55;
            line-height: $line-50;
            float: left;
            padding-right: $px-8;
            text-transform: uppercase;
        }
    }
}
