@import '../abstracts/variables';
//=====================
// USUARIO
//=====================
.com-usuario {
    font-family: $font-arial;
    line-height: $font-16;
    display: flex;
    justify-content: flex-end;
    > button.--highlight {
        margin-right: $px-35;
    }
    &__name {
        font-weight: 700;
        font-size: $font-14;
        color: $link;
        cursor: pointer;
        position: relative;
        margin-bottom: $px-5;
        &:before {
            content: '';
            width: $px-7;
            height: $px-7;
            border-top: 2px solid $link;
            border-left: 2px solid $link;
            position: absolute;
            right: -$px-14;
            top: $px-1;
            transform: rotate(224deg);
        }
        .--active & {
            color: $gris6;

            &:before {
                border-color: $gris6;
                top: $px-5;
                transform: rotate(45deg);
            }
        }
    }
    &__valueSuscrib {
        font-weight: 400;
        font-size: $font-12;
        color: $gris5;
    }
    #menuUser {
        outline: none;
        cursor: pointer;
    }
}

.com-desplegable {
    display: none;
    width: 200px;
    border: 1px solid $gris1;
    background: $blanco;
    border-radius: 3px;
    text-align: left;
    position: absolute;
    right: -$px-40;
    top: $px-50;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    z-index: 100;
    &:before {
        content: '';
        transform: rotate(45deg);
        width: $px-12;
        height: $px-12;
        border: 2px solid $gris1;
        border-right: none;
        border-bottom: none;
        border-radius: 0 0 6px 0;
        margin: -$px-8 auto 0;
        background: $blanco;
        display: block;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    }
    &:after {
        content: '';
        width: $px-40;
        height: $px-10;
        position: absolute;
        top: 0;
        left: $px-80;
        background: $blanco;
        display: block;
        z-index: 0;
    }
    li {
        z-index: 2;
        position: relative;
        &:last-child {
            border-top: 1px solid $gris3;
        }
        a {
            font-size: $font-14;
            padding: 0.8em 2em;
            width: auto;
            display: block;
            color: $link;
            &:hover {
                background: $gris1;
            }
        }
    }
    .--active & {
        display: block;
    }
}
