@import '../abstracts/variables';
@import '../abstracts/mixins';

.living {
    $primario: $blanco;
    $logo: $logo-living;
    @include revista($logo, $primario);
    .cont-figure .figure .content-pic:before,
    &.acu-revista .subheader-acu i.logo-revista,
    .subheader-acu .com-link,
    &.acu-revista .subheader-acu .com-share a i {
        color: $negro;
    }
    .header {
        @include headerBlanco;
    }
}
