@import '../abstracts/variables';

.lnmas {
    $primario: $lnmas;
    .acu article a.figure:before,
    article a.figure:before {
        content: '\e91e';
        color: $primario;
    }
    .com-tag a {
        color: $primario;
        border-color: $primario;
        &:hover {
            background: $primario;
        }
    }
    .com-secondary-tag a,
    .com-secondary-tag a:after,
    [class^='logo-'],
    [class*=' logo-'] {
        color: $primario;
    }
    &.fondo-revista,
    .mod-newsletter {
        background-color: $primario;
    }
}
