$color-blue-100: #b7e9ff;
$color-blue-200: #70d3ff;
$color-blue-300: #049aff;
$color-blue-400: #0074c4;
$color-blue-500: #006998;
$color-blue-600: #00547a;
$color-blue-700: #003f5b;
$color-blue-800: #002a3d;
$color-blue-900: #00151e;
$color-gray-100: #f2f2f2;
$color-gray-200: #e4e4e4;
$color-gray-300: #c8c8c8;
$color-gray-400: #adadad;
$color-gray-500: #919191;
$color-gray-600: #5a5a5a;
$color-gray-700: #333333;
$color-gray-800: #272727;
$color-gray-900: #000000;
$color-yellow-400: #ffff7c;
$color-yellow-500: #ffff24;
$color-yellow-600: #d3d350;
$color-violet-400: #e3dcf2;
$color-violet-500: #d1c4e9;
$color-violet-600: #d3cbe2;
$color-producto-jardin-500: #c4832e;
$color-producto-brando-500: #c6480c;
$color-producto-ohlala-500: #e61f63;
$color-producto-hola-500: #bf0811;
$color-producto-rollingstone-500: #b40d15;
$color-producto-lugares-500: #009c9a;
$color-producto-lnmas-500: #322d61;
$color-producto-negocios-500: #d83e2c;
$color-producto-espectaculos-500: #eb0049;
$color-producto-afondo-500: #f44336;
$color-producto-lifestyle-500: #008185;
$color-producto-deporte-500: #0d880c;
