$spacing: 8px;
$spacing-2xs: $spacing / 2;
$spacing-xs: $spacing * 1;
$spacing-sm: $spacing * 2;
$spacing-md: $spacing * 3;
$spacing-lg: $spacing * 4;
$spacing-xl: $spacing * 5;
$spacing-2xl: $spacing * 8;
$spacing-3xl: $spacing * 10;
